zeus.json
.idea
.bundle
.DS_Store
*.iml
*.ipr
config/database.yml
config/auth.yml
config/ci.yml
config/settings.local.yml
.bundle
db/*.sqlite3
log/*.log
tmp/**/*
.sass-cache/
tags
*.log
*.out
.tddium*
*.swp
spec/javascripts/compiled/
.vagrant
manifest.yml
