language: ruby

branches:
  only:
    - master
    - staging

bundler_args: --without mysql development

notifications:
  email:
    - common-effort@pivotallabs.com
  webhooks:
    - http://projectmonitor-staging.pivotallabs.com/projects/d30b8651-bd0f-40ac-87c2-0fd662363e91/status

rvm:
  - 1.9.3

before_script:
  - "sudo apt-get install memcached"
  - "bundle exec rake travis:setup"
  - "export DISPLAY=:99"
  - "sh -e /etc/init.d/xvfb start"

script: "bundle exec rake travis"
