body {
	font-family: Helvetica, sans-serif;
	font-size: 13px; 
	background: white;
  margin: 0;
}

body, p, li { 
	color: black; 
}

p {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: normal;
	margin: 0 0 1.6em 0; 
	padding: 0; 
}

/*
=Headings
*/

h1 {
  font-family: Helvetica, sans-serif; 
	padding: 0; 
	line-height: 1em; 
	margin: 15px 0;
  font-weight: bold;
}

.page {
  margin: 15px;
}

.page h1 {
	font-size: 2.4em;
}

.error {
  color: #000000;
}

.success {
  color: #000000;
}

/*
=Links
*/

a, 
a:link {
	color: black; 
}

a:hover {
  color: #aa1224;
}


/*
=Boxes
*/

.box {
	position: relative;
	height: 213px;
	width: 213px;
	padding: 15px;
}

#header {
  margin: 0;
  padding: .8em 1em;
  background-color: #88C2E5;
}

#header .company_logo {
  margin: 0.5em;
}

#header a, #header img {
  border: 0
}

#title {
  padding-top: 10px;
  margin-left: 300px;
  text-align: left; 
}

.project {
  float:left;
  margin-top:15px;
  margin-left:10px;
  margin-bottom:15px;
  width:230px;
  height:210px;
}

.project_visit {
  float: right;
  font-size: smaller;  
}

.project_name {
  text-align: center;
/*  white-space: nowrap;*/
}

.project_name a {
  text-decoration: none;
  color: black;
}

.project_status {
  margin-top: 5px;
  margin-bottom: 34px;
  text-align: center;
/*  vertical-align: baseline;*/
  position: absolute;
  bottom: 0;
  width: 87%;
}

.project_published_at {
  text-align: center;
  font-size: 1em;  
}

.project_red_since {
  text-align: center;
  font-size: 0.9em;
  margin-left: -0.2;
  margin-right: -0.2;
}

.project_invalid {
  text-align: center;
  font-size: 1em;  
}

#top_right {
  position: absolute;
  top: 0.25em;
  right: 2em;
  margin-top: 0.5em;
}

#advertisement {
  font-size: smaller;
}

.status_image {
  border: 0;
}

.page .status_image {
}

.logo_page {
  padding-top: 100px;
  text-align: center;
}

#messages_right {
  float: right;
  overflow: hidden;
}

.message {  
}

.smaller_text {
  font-size: smaller;
}

#flash_error {
  color: red;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#flash_notice {
  color: blue;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#openid_url {
  background: url(/images/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

/*
Form Errors
*/

.field_with_errors {
  padding: 2px;
  margin-bottom: 25px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 550px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

table.projects {
  border-collapse: collapse;
  margin: 15px 0 40px 0;
}

table.projects tr th {
  text-align: left;
  font-size: 1.1em;
  padding: 5px 15px;
}

table.projects tr td {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}

table.projects tr.odd td {
  background-color: #eee;
}

table.projects tr.even {
}

.button,
a:link.button {
  background:#2B4C74;
  padding: 2px 5px;
  font-size: 12px;
  color: #eeeeee;
  text-decoration:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display:table-inline;
  font-weight:bold;
  letter-spacing: 1px;
  box-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
  -moz-box-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
  -webkit-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
}

.button:hover,
a:hover.button {
  color: #eeeeee;
  background: #14274A;
}

.add_button {
  margin-left: 15px;
  /* text-transform: uppercase; */
  font-size: 13px;
}

.tag_list {
  font-size: 0.9em;
  color: #666;
  font-weight: bold;
}

form.project_edit, form.project_new, form.new_user,
form.aggregate_project_edit, form.aggregate_project_new {
  background-color: #eeeeee;
  margin: 30px;
  padding: 30px;
  width: 38em;
}

form.project_edit label, form.project_new label, form.new_user label,
form.aggregate_project_edit label, form.aggregate_project_new label {
  width: 9em;
  display: inline-table;
  vertical-align: top;
  font-weight: bold;
  text-align: right;
  margin-right: 2em;
}

form.project_edit em, form.project_new em,
form.aggregate_project_edit em, form.aggregate_project_new em {
  margin-top: .4em;
  margin-left: 12em;
  display: block;
}
