body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px; 
	background: #000;
  margin-top: 3px;
}

body, p, li { 
	color: black; 
}

p {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: normal;
	margin: 0 0 1.6em 0; 
	padding: 0; 
}

/*
=Headings
*/
h1 {
    font-family: Arial, Helvetica, sans-serif; 
}

h1 {
	padding: 0; 
	line-height: 1em; 
	margin: 0 0 5px;
  letter-spacing: -2px;
  font-weight: bold;
}

.page h1 {
	font-size: 3.2em;
}

.error {
  color: #000000;
}

.success {
  color: #000000;
}

/*
=Links
*/

a, 
a:link {
	color: black; 
}

a:hover {
        color: #aa1224;
}


/*
=Boxes
*/

.box {
	position: relative;
	height: 213px;
	width: 213px;
	padding: 15px;
}

#header {
  margin: 0;
  padding: .5em 1em .5em 1em;
}

#logo {
  position: absolute;
  top: 10%;
  right: 10%;
}

@-webkit-keyframes pulse {
 0% {
   -webkit-transform: scale(0.9);
 }
 50% {
   -webkit-transform: scale(1.1);
 }
 100% {
   -webkit-transform: scale(0.9);
 }
}

#logo .company_logo {
  text-align: center;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
}

#logo a, #logo img {
  border: 0
}

#logo a {
  margin-left: 2em;
}

#title {
  padding-top: 10px;
  margin-left: 300px;
  text-align: left; 
}

.project {
  float:left;
  margin-top:15px;
  margin-left:10px;
  margin-bottom:15px;
  width:230px;
  height:210px;
}

.project_visit {
  float: right;
  font-size: smaller;  
}

.project_name {
  text-align: center;
/*  white-space: nowrap;*/
}

.project_name a {
  text-decoration: none;
  color: black;
}

.project_status {
  margin-top: 5px;
  margin-bottom: 34px;
  text-align: center;
/*  vertical-align: baseline;*/
  position: absolute;
  bottom: 0;
  width: 87%;
}

.project_published_at {
  text-align: center;
  font-size: 1em;  
}

.project_red_since {
  text-align: center;
  font-size: 0.9em;
  margin-left: -0.2;
  margin-right: -0.2;
}

.project_invalid {
  text-align: center;
  font-size: 1em;  
}

#top_right {
  position: absolute;
  top: 0.25em;
  right: 2em;
  margin-top: 0.5em;
  width: 20em;
}

#advertisement {
  font-size: smaller;
}

.status_image {
  border: 0;
}

.page .status_image {
}

.logo_page {
  padding-top: 100px;
  text-align: center;
}

#messages_right {
  float: right;
  overflow: hidden;
}

.message {  
}

.smaller_text {
  font-size: smaller;
}

#flash_error {
  color: red;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#flash_notice {
  color: blue;
  font-weight: bold;
  background-color: lightgray;
  padding: 5px;
  margin: 5px;
}

#openid_url {
  background: url(/images/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

/*
Form Errors
*/

.field_with_errors {
  padding: 2px;
  margin-bottom: 25px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 550px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}
