---
http_interactions:
- request:
    method: delete
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories/69460436
    body:
      encoding: US-ASCII
      string: ''
    headers:
      x-trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      content-type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/xml; charset=utf-8
      status:
      - '200'
      etag:
      - '"818a5bb14f6df00bceca4f863cd2adfc"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">69460436</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>http://www.pivotaltracker.com/story/show/69460436</url>
          <estimate type="integer">3</estimate>
          <current_state>accepted</current_state>
          <description></description>
          <name>Test 3</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2014/04/14 15:48:15 UTC</created_at>
          <updated_at type="datetime">2014/04/14 15:48:15 UTC</updated_at>
          <accepted_at type="datetime">2014/03/24 12:00:00 UTC</accepted_at>
        </story>
  recorded_at: Mon, 14 Apr 2014 15:48:19 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"c49b20d4e9129c406ba2c514f93c7d95"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <project>
          <id>1059836</id>
          <name>test project</name>
          <iteration_length type="integer">1</iteration_length>
          <week_start_day>Monday</week_start_day>
          <point_scale>0,1,2,3</point_scale>
          <account>testusermailinator</account>
          <first_iteration_start_time type="datetime">2016/03/21 07:00:00 UTC</first_iteration_start_time>
          <current_iteration_number type="integer">1</current_iteration_number>
          <enable_tasks type="boolean">true</enable_tasks>
          <velocity_scheme>Average of 3 iterations</velocity_scheme>
          <current_velocity>10</current_velocity>
          <initial_velocity>10</initial_velocity>
          <number_of_done_iterations_to_show>12</number_of_done_iterations_to_show>
          <labels></labels>
          <last_activity_at type="datetime">2016/03/23 22:46:36 UTC</last_activity_at>
          <allow_attachments>true</allow_attachments>
          <public>false</public>
          <use_https>false</use_https>
          <bugs_and_chores_are_estimatable>false</bugs_and_chores_are_estimatable>
          <commit_mode>false</commit_mode>
          <memberships type="array">
            <membership>
              <id>4149524</id>
              <person>
                <email>testuser@mailinator.com</email>
                <name>Test User</name>
                <initials>TU</initials>
              </person>
              <role>Owner</role>
            </membership>
          </memberships>
          <integrations type="array">
          </integrations>
        </project>
  recorded_at: Wed, 23 Mar 2016 22:46:37 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <story>
          <name>Test 1</name>
          <description/>
          <story_type>feature</story_type>
          <estimate>1</estimate>
          <current_state>accepted</current_state>
          <requested_by>Test User</requested_by>
          <owned_by/>
          <labels/>
          <project_id>1059836</project_id>
          <accepted_at>2016-03-16T22:46:37+00:00</accepted_at>
        </story>
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Location:
      - https://www.pivotaltracker.com/services/v3/projects/1059836/stories/116260921
      Etag:
      - '"5ca2d5fc3d332e96262a5d124afe71c0"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">116260921</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>https://www.pivotaltracker.com/story/show/116260921</url>
          <estimate type="integer">1</estimate>
          <current_state>accepted</current_state>
          <description></description>
          <name>Test 1</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2016/03/23 22:46:37 UTC</created_at>
          <updated_at type="datetime">2016/03/23 22:46:37 UTC</updated_at>
          <accepted_at type="datetime">2016/03/16 12:00:00 UTC</accepted_at>
        </story>
  recorded_at: Wed, 23 Mar 2016 22:46:38 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/iterations/current
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"7aa6d60915a27a4a1aecdadeabd4299e"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <iterations type="array">
          <iteration>
            <id type="integer">4</id>
            <number type="integer">4</number>
            <start type="datetime">2016/03/21 00:00:00 PDT</start>
            <finish type="datetime">2016/03/28 00:00:00 PDT</finish>
            <team_strength type="float">1</team_strength>
            <stories type="array">
              <story>
                <id type="integer">116260927</id>
                <project_id type="integer">1059836</project_id>
                <story_type>feature</story_type>
                <url>https://www.pivotaltracker.com/story/show/116260927</url>
                <estimate type="integer">0</estimate>
                <current_state>delivered</current_state>
                <description></description>
                <name>Test (delivered) 1</name>
                <re[...]
[...]
- request:
    method: delete
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories/116260947
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"4d8070546009049ba78da973fb694144"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">116260947</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>https://www.pivotaltracker.com/story/show/116260947</url>
          <estimate type="integer">0</estimate>
          <current_state>unstarted</current_state>
          <description></description>
          <name>Test (unstarted)</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2016/03/23 22:46:44 UTC</created_at>
          <updated_at type="datetime">2016/03/23 22:46:44 UTC</updated_at>
        </story>
  recorded_at: Wed, 23 Mar 2016 22:46:54 GMT
recorded_with: VCR 3.0.1
