// // Accept points > velocity pulsing (can't use opacity, must use fill)
// @mixin svg-pulse-green {
//   0% { 
//     fill: rgba(darken($blue, 20%), 1);
//   }
//   50% {
//     fill: rgba(darken($blue, 20%), .5);
//   }
//   100% {
//     fill: rgba(darken($blue, 20%), 1);
//   }
// }

// @-webkit-keyframes building { @include building-keyframes }
// @-moz-keyframes building { @include building-keyframes }
// @-o-keyframes building { @include building-keyframes }
// @keyframes building { @include building-keyframes }

// Project building
@mixin building-keyframes {

  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.50;
  }
  100% {
    opacity: 1;
  }

}

@-webkit-keyframes building { @include building-keyframes }
@-moz-keyframes building { @include building-keyframes }
@-o-keyframes building { @include building-keyframes }
@keyframes building { @include building-keyframes }