.warnings
  .github
    = link_to "GITHUB IS DOWN", 'http://status.github.com'
  .heroku
    = link_to "HEROKU IS DOWN", 'http://status.heroku.com'
  .rubygems
    = link_to "RUBYGEMS IS DOWN", 'http://status.rubygems.org'
.projects
:javascript
  var projects = #{@projects.to_json};
:coffeescript
  $ ->
    new ProjectMonitor.Routers.HomeRouter({projects: projects})
    Backbone.history.start({pushState: true})
