---
http_interactions:
- request:
    method: get
    uri: https://codeclimate.com/api/repos/50a5652f7e00a4722d00a16e.json?api_token=b5acc9a53efe672306c3d1dd7bb33e002aa84525
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-revision:
      - de8aaf5e096cf44e2841d58946f629083921f54c
      etag:
      - ! '"237c0b703231fe3bec1915a95ab85a36"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"50a5652f7e00a4722d00a16e","account_id":"50a5650256b10213ec00191e","name":"Projectmonitor","url":"git://github.com/pivotalcommon/projectmonitor.git","branch":"master","created_at":1353016623,"last_snapshot":{"id":"50a5653356b1022c0a00cff7","repo_id":"50a5652f7e00a4722d00a16e","commit_sha":"51b3ef4995aeb9efafcabbfe42bfd63a7b97ba80","committed_at":1352825436,"finished_at":1353016632,"gpa":3.67},"previous_snapshot":{"id":"50a565337e00a4459900c12f","repo_id":"50a5652f7e00a4722d00a16e","commit_sha":"7358d0c058a21dd3d9dba0c20aae455c2f38e875","committed_at":1352404184,"finished_at":1353016632,"gpa":3.67}}'
  recorded_at: Fri, 16 Nov 2012 16:08:13 GMT
recorded_with: VCR 2.2.4
