# This is Google OAuth for Web Applications.  See http://code.google.com/apis/accounts/docs/OAuth.html
development: &development
  auth_required: false
  oauth:
    consumer_key: <your_consumer_key>
    consumer_secret: <your_consumer_secret>
    site: "https://www.google.com"
    request_token_path: "/accounts/OAuthGetRequestToken"
    access_token_path: "/accounts/OAuthGetAccessToken"
    authorize_path: "/accounts/OAuthAuthorizeToken"
    signature_method: "HMAC-SHA1"
    scope: "https://www.google.com/m8/feeds/"
    authorized_domains: [ "example.com", "anotherexample.com" ]

test:
  <<: *development

production:
  <<: *development
