--- 
jenkins_dir: /home/>>>USERNAME<<</.jenkins
credentials:
  provider: 'AWS'
  aws_access_key_id: >>> AWS ACCESS KEY GOES HERE <<<
  aws_secret_access_key: >>> AWS SECRET KEY GOES HERE <<<
basic_auth:
  - username: >>> USERNAME FOR HTTP AUTH <<<
    password: >>> PASSWORD FOR HTTP AUTH <<<
ci_server:
  public_ip: >>> AWS PUBLIC IP ADDRESS <<<