article.aggregate.success       { @include build_status($green) }
article.aggregate.failure       { @include build_status($red) }
article.aggregate.offline       { @include build_status($grey) }
article.aggregate.indeterminate { @include build_status($yellow) }

li.aggregate_project {
  max-height: 328px;
}
article.aggregate {
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    background-size: 10px 10px;
    text-align: center;
  }
}

.one-tile {
  article.aggregate {
    h1 {
      font-size: 200px;
      line-height: 329px;
    }
  }
}
