article.build.success       { @include build_status($green) }
article.build.failure       { @include build_status($red) }
article.build.offline       { @include build_status($grey) }
article.build.indeterminate { @include build_status($yellow) }
article.build.building {
  @include add-browser-prefixes(           animation-name, building);
  @include add-browser-prefixes(       animation-duration, 2s);
  @include add-browser-prefixes(animation-timing-function, ease);
  @include add-browser-prefixes(animation-iteration-count, infinite);
  @include add-browser-prefixes(      animation-direction, normal);
  @include add-browser-prefixes(          animation-delay, 0);
  @include add-browser-prefixes(     animation-play-state, running);
}

article.build {
  h1, aside {
    background-size: 10px 10px;
  }

  h1 {
    text-align: center;
  }

  ol {
    float: left;

    li {
      display:block;
      float:left;
      text-align: center;

      &.success a:after {
        content: $success-unicode-glyph;
      }

      &.failure a:after {
        content: $failure-unicode-glyph;
      }

      a {
        display: block;
        position: relative;
      }
    }

    li:nth-child(2)  { opacity: 0.90; }
    li:nth-child(3)  { opacity: 0.70; }
    li:nth-child(4)  { opacity: 0.50; }
    li:nth-child(5)  { opacity: 0.30; }
  }
}


.one-tile {
  article.build {
    h1 {
      font-size: 95px;
    }

    .last-build-label { display: none; }

    aside {
      > div {
        height: 60px;
      }

      .time-since-last-build {
        line-height: 60px;
        font-size: 20px;
        float: left;
        padding: 0px 10px;
        min-width: 62px;
      }

      ol {
        height: 78px;

        li {
          font-size: 50px;
          height: 30px;
          width: 30px;
          margin: 14px 5px 7px 0px;
          line-height: 45px;
        }
      }
    }
  }
}


.two-tile {
  article.build {
    height: 160px;

    h1 {
      font-size: 100px;
      float: left;
      width: 100%;
    }

    aside {
      float: left;
      width: 215px;
      height: 160px;
      text-align: center;

      > div {
        padding-left: 16px;
        span:first-child {
          text-transform: uppercase;
        }
      }

      span {
        font-size: 20px;
      }

      .time-since-last-build {
        line-height: 73px;
        padding: 0px 10px;
      }

      ol {
        width: 195px;

        li {
          font-size: 40px;
          height: 35px;
          width: 35px;
          margin: 2px 2px;
          line-height: 35px;
        }
      }
    }
  }
}

.three-tile {
  article.build {
    h1 {
      font-size: 100px;
      text-align: center;
      line-height: 165px;
    }

    aside {
      height: 165px;
      text-align: center;

      > div {
        margin-left: 10px;
        span:first-child {
          text-transform: uppercase;
        }
      }

      span {
        font-size: 20px;
      }

      .time-since-last-build {
        line-height: 60px;
        padding: 0px 16px;
      }

      ol {
        width: 220px;
        margin-left: 35px;

        li {
          font-size: 40px;
          height: 35px;
          width: 35px;
          margin: 2px 2px;
          line-height: 35px;
        }
      }
    }
  }
}


.four-tile {
  article.build {
    h1 {
      font-size: 100px;
      line-height: 125px;
    }

    .last-build-label { display:none; }

    aside {
      > div {
        height: 35px;
      }

      .time-since-last-build {
        line-height: 33px;
        font-size: 18px;
        float: left;
        padding: 0px 4px 0px 20px;
      }

      ol {
        height: 32px;

        li {
          font-size: 24px;
          height: 22px;
          width: 22px;
          margin: 3px 2px 2px 0px;
          line-height: 22px;

        }
      }
    }
  }
}

