%raised-box-style {
  background-color: lighten($blue, 10%);
  border-radius: 1px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}

article.tracker {
  background-color: lighten($blue, 10%);
  height: 159px;
  padding: 5px 5px 5px 15px;
  position: relative;
  box-sizing: border-box;

  .no-connection {
    height: 127px;
    text-align: center;
    font-size: 25px;
  }

  .tracker-metrics {
    float: left;
    width: 73px;
    height: 133px;

    .metrics-half {
      &:first-of-type {
        margin-top: -1px;
      }
      &:last-of-type {
        margin-top: 14px;
      }
    }
    dd {
      @include heavy_font;
      display: block;
      text-align: center;
      &.current-velocity {
        font-size: 70px;
        line-height: 1em;
      }
      &.current-volatility {
        font-size: 20px;
      }
    }
    dt {
      display: block;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      -webkit-text-size-adjust: auto;
    }
  }

  article.current-iteration {
    display: inline-block;
    height: 122px;
    width: 455px;
    position: relative;
    list-style: none;
    margin-left: 10px;
    padding-top: 5px;
    float: left;
    .bar-chart {

      #whomp-whomp {
        .pattern-stripe {
          fill: darken($blue, 5%);
        }
        .pattern-stripe-off {
          fill: darken($blue, 10%);
        }
      }

      rect {
        fill: darken($blue, 10%);

        &.whomp-whomp {
          fill: url(#whomp-whomp) darken($blue, 10%); // color fallback for Firefox
        }
      }
      text {
        font-family: 'Avenir LT W01 35 Light', 'Helvetica';
        text-transform: uppercase;
        &.chart-title {
          @include medium_font;
          font-size: 13px;
        }
        &.chart-axis-name {
          @include medium_font;
          font-size: 12px;
        }
      }
      .axis {

        path.domain {
          stroke: $very-dark-green;
          shape-rendering: crispEdges;
          fill: none;
        }

        .tick {
          text {
            @include heavy_font;
            font-size: 13px;
            text-transform: uppercase;
          }
          line {
            stroke: $dark-green;
            shape-rendering: crispEdges;
            fill: none;
          }
        }
      }
    }
    .bar {
      display: inline-block;
      background-color: darken($blue, 20%);
    }
  }
}