<p>
  <b>Name</b><br/>
  <%= f.text_field :name %>
</p>

<p>
  <b>Enabled?</b><br/>
  <%= f.check_box :enabled %>
</p>

<p>
  <b>Tags</b> (separate with commas)<br/>
  <%= f.text_field :tag_list, :size=>40 %>
</p>

<p>
  <%= submit_tag @aggregate_project.new_record? ? "Create" : "Update" %>
</p>
