<p>
  <%= f.label :code %>
  <%= f.text_field :code, maxlength: 4 %>
</p>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <%= f.label :enabled, "Enabled?" %>
  <%= f.check_box :enabled %>
</p>

<p>
  <%= f.label :location, "Location" %>
  <%= f.text_field :location, :size=>20, :maxlength=>20 %>
</p>

<p>
  <%= f.label :tag_list, "Tags" %>
  <%= f.text_field :tag_list, :size=>40 %>
  <em>(separate with commas)</em>
</p>

<p style="text-align: right; margin-bottom: 0;">
  <%= submit_tag @aggregate_project.new_record? ? "Create" : "Update" %>
</p>
