<%= link_to '&larr; Back to Projects'.html_safe, projects_path %>

<h1>Add Aggregate Project</h1>

<%= error_messages_for :project %>

<%= form_for(@aggregate_project, :as => :aggregate_project, :url => aggregate_projects_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
