<%= link_to '&larr; Back to Projects'.html_safe, projects_path %>

<h1>Add Aggregate Project</h1>

<%= error_messages_for :aggregate_project %>

<%= form_for @aggregate_project do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
