<h1>New aggregate project</h1>

<%= error_messages_for :project %>
<%= form_for(@aggregate_project, :as => :aggregate_project, :url => aggregate_projects_path) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<%= link_to 'Back', projects_path %>