.digiclock {
  display: block;
  clear: both;
  padding-top: 50px;
}

.wrapper {
  margin: 0;
  position: relative;
  width: 100%;
  min-width: 820px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(.5, rgba(0, 100, 0, .2)), to(#000));
  background-image: -moz-linear-gradient(top, #000, rgba(0, 100, 0, .2) 20%, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0006600', endColorstr='#ff000000');
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .6)));
  background-image: -moz-radial-gradient(center 45deg, circle closest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .6) 300%);
  z-index: 100;
}
.display {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  width: 800px;
  -webkit-transition: opacity 1000ms ease;
  -moz-transition: opacity 1000ms ease;
  z-index: 99;
}
.dim .display {
  opacity: .4;
}
.dim footer {
  opacity: 0;
}
.slot {
  float: left;
  height: 222px;
  margin: 0 15px 15px 0;
  position: relative;
  -webkit-transform: skewX(-5deg);
  -moz-transform: skewX(-5deg);
}
.element {
  opacity: .1;
}
.on {
  opacity: .9 !important;
}
.number {
  width: 124px;
}
.second {
  margin-left: -32px;
  margin-right: -16px;
  -webkit-transform: scale(.5) skewX(-5deg);
  -moz-transform: scale(.5) skewX(-5deg);
}

/* Bars for digits */
.bar {
  background-color: #0f0;
  border-radius: 4px;
  -moz-border-radius: 4px;
  position: absolute;
  -webkit-box-shadow: 0 0 20px #0f0;
  -moz-box-shadow: 0 0 20px #0f0;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
}
.center {
  left: 22px;
  height: 20px;
  width: 80px;
}
.center.top {
  top: 0;
}
.center.middle {
  top: 100px;
}
.center.bottom {
  bottom: 0px;
}
.left, .right {
  width: 20px;
  height: 100px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.left.top, .right.top {
  top: 10px;
}
.left.bottom, .right.bottom {
  bottom: 10px;
}

/* Digits */
.d0 .center.top, .d0 .center.bottom, .d0 .left.top, .d0 .left.bottom, .d0 .right.top, .d0 .right.bottom {
  opacity: .9;
}
.d1 .right.top, .d1 .right.bottom {
  opacity: .9;
}
.d2 .center, .d2 .right.top, .d2 .left.bottom {
  opacity: .9;
}
.d3 .center, .d3 .right.top, .d3 .right.bottom {
  opacity: .9;
}
.d4 .center.middle, .d4 .left.top, .d4 .right.top, .d4 .right.bottom {
  opacity: .9;
}
.d5 .center, .d5 .left.top, .d5 .right.bottom {
  opacity: .9;
}
.d6 .center, .d6 .left.top, .d6 .left.bottom, .d6 .right.bottom {
  opacity: .9;
}
.d7 .center.top, .d7 .right.top, .d7 .right.bottom {
  opacity: .9;
}
.d8 .bar {
  opacity: .9;
}
.d9 .center, .d9 .left.top, .d9 .right.top, .d9 .right.bottom {
  opacity: .9;
}

/* Colon separator */
.colon {
  width: 20px;
}
.colon .bar {
  width: 20px;
  height: 20px;
}
.colon .top {
  top: 64px;
}
.colon .bottom {
  bottom: 64px;
}

/* Text */
.text {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  color: #0f0;
  text-shadow: 0 0 20px #0f0;
}
.text .element {
  margin: 0;
  padding: 0;
}

/* Dots */
.dot {
  background-color: #0f0;
  height: 10px;
  width: 10px;
  opacity: .3;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 0 20px #0f0;
  -moz-box-shadow: 0 0 20px #0f0;
}
.dot.blue {
  background-color: rgb(0, 200, 255);
  -webkit-box-shadow: 0 0 20px rgb(0, 200, 255);
  -moz-box-shadow: 0 0 20px rgb(0, 200, 255);
}
.dot.red {
  background-color: rgb(200, 20, 0);
  -webkit-box-shadow: 0 0 20px rgb(200, 20, 0);
  -moz-box-shadow: 0 0 20px rgb(200, 20, 0);
}

/* Controls */
.controls {
  position: relative;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 101;
}
.controls .dot {
  display: inline-block;
  margin: 10px;
}

/* Color Themes - Green is default */
/* Blue */
.blue .wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(.5, rgba(80, 160, 200, .5)), to(#000));
  background-image: -moz-linear-gradient(top, #000, rgba(0, 200, 255, .3) 50%, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a000a0ff', endColorstr='#ff000000');
}
.blue .bar {
  background-color: rgb(0, 200, 255);
  -webkit-box-shadow: 0 0 20px rgb(0, 200, 255);
  -moz-box-shadow: 0 0 20px rgb(0, 200, 255);
}
/* Red */
.red .wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(.5, rgba(150, 0, 0, .3)), to(#000));
  background-image: -moz-linear-gradient(top, #000, rgba(150, 0, 0, .3) 50%, #000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a0a00000', endColorstr='#ff000000');
}
.red .bar {
  background-color: rgb(200, 20, 0);
  -webkit-box-shadow: 0 0 20px rgb(200, 20, 0);
  -moz-box-shadow: 0 0 20px rgb(200, 20, 0);
}
.blue .digiclock .text, .digiclock .blue a, .digiclock .blue a:visited {
  color: rgb(0, 200, 255);
  text-shadow: 0 0 20px rgb(0, 200, 255);
}
.red .digiclock .text, .digiclock .red a, .digiclock .red a:visited {
  color: rgb(200, 20, 0);
  text-shadow: 0 0 20px rgb(200, 20, 0);
}

footer {
  position: relative;
  z-index: 102;
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
}

footer .text {
  display: block;
  font-size: 9px;
  text-align: center;
}
