%li{:class => "#{aggregate_project.css_class} #{"building" if aggregate_project.building?}", "data-id" => aggregate_project.id, :id => aggregate_project.css_id}
  .information
    %h1= link_to(aggregate_project.code, aggregate_project.status_url)
    .status-bar
      .aggregate Aggregate
  .velocity-block
