<div class="tweets" tweet_id='<%= twitter_search.id%>'>
  <script>
    new TWTR.Widget({
      version: 2,
      type: 'search',
      search: <%= twitter_search.search_term.to_json.html_safe %>,
      interval: 6000,
      title: '',
      subject: <%= twitter_search.search_term.to_json.html_safe %>,
      width: 216,
      height: 150,
      rpp: 3,
      theme: {
        shell: {
          background: '#8ec1da',
          color: '#ffffff'
        },
        tweets: {
          background: '#ffffff',
          color: '#000000',
          links: '#1985b5'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: true,
        toptweets: true,
        behavior: 'all'
      }
    }).render().start();
  </script>
</div>
