.warnings
  .github
    = link_to "GITHUB IS DOWN", 'http://status.github.com'
  .heroku
    = link_to "HEROKU IS DOWN", 'http://status.heroku.com'
  .rubygems
    = link_to "RUBYGEMS IS DOWN", 'http://status.rubygems.org'
%ol.projects
  = render @tiles, tiles_count: @tiles_count
  .clear
