.warnings
  .github
    = link_to "GITHUB IS DOWN", 'http://status.github.com'
  .heroku
    = link_to "HEROKU IS DOWN", 'http://status.heroku.com'
%section
  %ol.projects
:coffeescript
  build_success = {code: 'PROJ', aggregate: false, status: "success", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_failure = {code: 'SEMA', aggregate: false, status: "failure", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_offline = {code: 'NYC', aggregate: false, status: "offline", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  build_indeterminate = {code: 'COLO', aggregate: false, status: "indeterminate", statuses: [true, false, true, true, false, true, true, false, true, true], time_since_last_build: "4d"}
  tracker = {velocity: 9, variance: 10, delivered: 9, open: 5, velocities: [10, 20, 50, 80, 100, 90, 80, 90, 40, 40]}
  new_relic = {times: [10, 20, 50, 80, 100, 90, 80, 90, 40, 40]}
  airbrake = {error_count: 9, last_error: "RuntimeError: Workflow"}

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, tracker: tracker})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, new_relic: new_relic})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, airbrake: airbrake})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, tracker: tracker, new_relic: new_relic})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, tracker: tracker, airbrake: airbrake})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, new_relic: new_relic, airbrake: airbrake})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

  project = new ProjectMonitor.Models.Project({project_id: 123, build: build_success, tracker: tracker, airbrake: airbrake, new_relic: new_relic})
  view = new ProjectMonitor.Views.ProjectView {model: project}
  $html = view.render().$el
  $(".projects").append $html

.clear
