@mixin build_status($color) {
  h1 {
    @include linear-gradient(top, $color 90%, lighten($color, 10%) 10%);
  }

  aside {
    background-color: lighten($color, 10%);
  }
  ol {
    li {
      background-color: lighten($color, 25%);
    }
  }
}

article.build.success       { @include build_status($green) }
article.build.failure       { @include build_status($red) }
article.build.offline       { @include build_status($grey) }
article.build.indeterminate { @include build_status($yellow) }

article.build {
  h1, aside {
    background-size: 10px 10px;
  }

  h1 {
    text-align: center;
  }

  ol {
    float: left;

    li {
      display:block;
      float:left;
      text-align: center;

      &.success a:before {
        content: $success-unicode-glyph;
      }

      &.failure a:before {
        content: $failure-unicode-glyph;
      }

      a {
        display: block;
        position: relative;
      }
    }

    li:nth-child(2)  { opacity: 0.95; }
    li:nth-child(3)  { opacity: 0.90; }
    li:nth-child(4)  { opacity: 0.85; }
    li:nth-child(5)  { opacity: 0.80; }
    li:nth-child(6)  { opacity: 0.70; }
    li:nth-child(7)  { opacity: 0.60; }
    li:nth-child(8)  { opacity: 0.40; }
    li:nth-child(9)  { opacity: 0.35; }
    li:nth-child(10) { opacity: 0.30; }
  }
}


article.build.large {
  h1 {
    font-size: 200px;
    padding: 30px 0 30px;
    line-height: 230px;
  }

  aside {
    > div {
      height: 80px;
    }

    .last-build {
      line-height: 78px;
      font-size: 30px;
      float: left;
      padding: 0px 16px;
    }

    ol {
      height: 78px;

      li {
        font-size: 50px;
        height: 45px;
        width: 45px;
        margin: 14px 7px 7px 0px;
        line-height: 45px;
      }
    }
  }
}


article.build.wide {
  height: 180px;

  h1 {
    font-size: 136px;
    float: left;
    line-height: 180px;
    width: 390px;
  }

  aside {
    float: left;
    width: 220px;
    height: 180px;
    text-align: center;

    > div {
      padding-left: 16px;
      span:first-child {
        text-transform: uppercase;
      }
    }

    span {
      font-size: 20px;
    }

    .last-build {
      line-height: 80px;
      padding: 0px 16px;
    }

    ol {
      width: 220px;
      margin-left: 14px;

      li {
        font-size: 40px;
        height: 35px;
        width: 35px;
        margin: 2px 2px;
        line-height: 35px;
      }
    }
  }
}

article.build.tall {
  h1 {
    font-size: 100px;
    text-align: center;
    line-height: 185px;
  }

  aside {
    height: 185px;
    text-align: center;

    > div {
      span:first-child {
        text-transform: uppercase;
      }
    }

    span {
      font-size: 20px;
    }

    .last-build {
      line-height: 80px;
      padding: 0px 16px;
    }

    ol {
      width: 220px;
      margin-left: 55px;

      li {
        font-size: 40px;
        height: 35px;
        width: 35px;
        margin: 2px 2px;
        line-height: 35px;
      }
    }
  }
}


article.build.small {
  h1 {
    font-size: 100px;
    line-height: 145px;
  }

  aside {
    > div {
      height: 35px;
    }

    .last-build {
      line-height: 33px;
      font-size: 18px;
      float: left;
      padding: 0px 4px 0px 20px;
    }

    ol {
      height: 32px;

      li {
        font-size: 24px;
        height: 22px;
        width: 22px;
        margin: 3px 2px 2px 0px;
        line-height: 22px;

      }
    }
  }
}
