@mixin build_status($color) {
  h1 {
    @include linear-gradient(top, $color 90%, lighten($color, 10%) 10%);
  }

  aside {
    background-color: lighten($color, 10%);
  }
  ol {
    li {
      background-color: lighten($color, 25%);
    }
  }
}

@mixin heavy_font {
  font-family: 'Avenir LT W01 85 Heavy', Helvetica, sans-serif;
  font-weight: normal;
}

@mixin medium_font {
  font-family:'Avenir LT W01 65 Medium', Helvetica, sans-serif;
  font-weight: normal;
}

@mixin roman_font {
  font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
  font-weight: normal;
}

@mixin light_font {
  font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
  font-weight: normal;
}
