@import "constants";
@import "tiles_15";
@import "tiles_24";
@import "tiles_48";
@import "tiles_63";

@mixin building_animation_0($background_color) {
  opacity: 1;
  background: $background_color + #252525;
}

@mixin building_animation_100 {
  opacity: 0;
  background: white;
}

@-webkit-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-webkit-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

// Default values for tiles_15; vars need to be declared before being invokes.

$information-width: 420px !default;

$success-font-size: 1.4em !default;
$success-line-height: 36px !default;
$success-padding-left: 6px !default;
$success-top: -38px !default;

$failure-font-size: 1.3em !default;
$failure-line-height: -1px !default;
$failure-padding-left: 3px !default;
$failure-top: -36px !default;

//Variables for history elements
$history-margin-vertical: 8px !default;
$history-margin-history: 5px !default;

$history-width: 32px !default;
$history-height: 32px !default;

$statusbar-font-size: 30px !default;

ol.projects {
  list-style: none;

  li.empty-project {
    background: image_url("icons/empty_tile_x.png") center no-repeat;
  }

  li.project {
    float:left;

    > div {
      height: 100%;
    }

    &.success {
      background: $green;
      .information .status-bar {
        background: $light-green;
        border-top: solid $very-dark-green 2px;

      }
      .velocity {
        background: $very-light-green;
        border-color: $very-dark-green;

        .sparklines .sparkline {
          background: $very-very-light-green;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-green);
        }
      }

      &.aggregate .information {
        @include linear-gradient(0deg, $green 50%, $dark-green 51%);
      }

      .history {
        ol {
          li {
            background: $very-very-light-green center no-repeat;
          }
        }
      }
    }

    &.failure {
      background: $red;
      .information {
        .status-bar {
          background: $light-red;
          border-top: solid $very-dark-red 2px;
        }

      }
      .velocity {
        background: $very-light-red;
        border-color: $very-dark-red;

        .sparklines .sparkline {
          background: $very-very-light-red;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-red);
        }
      }

      &.aggregate .information {
        @include linear-gradient(0deg, $red 50%, $dark-red 51%);
      }

      .history {
        ol {
          li {
            background: $very-very-light-red no-repeat center;
          }
        }
      }
    }


    &.offline {
      background: $grey;

      .information {
        .status-bar {
          background: $grey;
          border-top: solid $very-dark-grey 2px;
        }
      }

      .velocity {
        background: $very-light-grey;
        border-color: $very-dark-grey;

        .sparklines .sparkline {
          background: $very-very-light-grey;
        }
      }
      &.aggregate .information{
        @include linear-gradient(0deg, $grey 50%, $dark-grey 51%);
      }
    }


    &.server-unreachable {
      background: $very-very-light-grey;

      .information {
        .status-bar {
          background: $very-light-grey;
          border-top: solid $dark-grey 2px;
        }
      }

      .velocity {
        background: $very-very-light-grey;
        border-color: $dark-grey;

        .sparklines .sparkline {
          background: $white;
        }
      }
      &.aggregate .information{
        @include linear-gradient(0deg, $light-grey 50%, $grey 51%);
      }
    }

    .information {
      > div {
        text-align: left;
      }
      float: left;

      h1 {
        font-family: 'Avenir LT W01 85 Heavy', Helvetica, sans-serif;
        font-weight: normal;
        text-transform: capitalize;
        color: #2B2820;

        a, a:hover, a:visited {
          color: #2B2820;
          text-decoration: none;
        }
      }

      .status-bar {
        .building-indicator {
          float:left;
          margin:3px 0;
          width:80px;
          text-align:center;

          img {
            width:30px;
            height:30px;
          }
        }

        .publish-date {
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
          float: left;
          text-align: center;
          font-size:1px;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .history {
      ol {
        li {
          line-height: 32px;
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          text-decoration: none;
          a {
            position: relative;
          }
        }

        li.success a {
          top: $success-top;
        }

        li.failure a {
          top: $failure-top;
        }
      }
    }

    .velocity {
      float: right;
      border-left: solid 2px;
      border-right: solid 2px;
      float: left;
      text-align: center;

      .sparklines {
        display: inline-block;
        position: relative;
        list-style: none;

        .sparkline {
          display: block;
          float: left;
          position: relative;
          margin: 2px;
          overflow: hidden;
          text-indent: -1000px;

          a {
            display: block;
          }

          &.offline {
            background-color: #5CC8F9;
          }

          &.success {
            a {
              background: url(/assets/icons/success.png) center no-repeat;
            }
          }

          &.failure {
            a {
              background: url(/assets/icons/failure.png) center no-repeat;
            }
          }
        }

        &.building {
          .sparkline {
            @include animation-duration(1s);
            @include animation-direction(alternate);
            @include animation-timing-function(ease);
            @include animation-iteration-count(infinite);

            &:nth-child(1) { @include animation-delay(.135s); }
            &:nth-child(2) { @include animation-delay(.94s); }
            &:nth-child(3) { @include animation-delay(.26s); }
            &:nth-child(4) { @include animation-delay(2s); }
            &:nth-child(5) { @include animation-delay(1s); }
            &:nth-child(6) { @include animation-delay(.5s); }
            &:nth-child(7) { @include animation-delay(.3s); }
            &:nth-child(8) { @include animation-delay(1.18s); }
            &:nth-child(9) { @include animation-delay(1.8s); }
            &:nth-child(10) { @include animation-delay(.4s); }

            &.success, &.failure {
              a {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    &.success .velocity .project_history .sparklines.building .sparkline {
      @include animation-name(building-green);
    }
  }

  &.failure .velocity .project_history .sparklines.building .sparkline {
    @include animation-name(building-red);
  }
}
