@import "constants";
@import "tiles_15";
@import "tiles_24";
@import "tiles_48";
@import "tiles_63";

// Default values for tiles_15; vars need to be declared before being invokes.

$information-width: 420px !default;

$success-font-size: 1.4em !default;
$success-line-height: 36px !default;
$success-padding-left: 6px !default;

$failure-font-size: 1.3em !default;
$failure-line-height: -1px !default;
$failure-padding-left: 3px !default;

//Variables for history elements
$history-margin-vertical: 8px !default;
$history-margin-history: 5px !default;

$history-width: 32px !default;
$history-height: 32px !default;

$statusbar-font-size: 30px !default;
