@import "constants";
@import "tiles_15";
@import "tiles_24";
@import "tiles_48";
@import "tiles_63";

@mixin building_animation_0($background_color) {
  opacity: 1;
  background: $background_color + #252525;
}

@mixin building_animation_100 {
  opacity: 0;
  background: white;
}

@-webkit-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-webkit-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

// Default values for tiles_15; vars need to be declared before being invokes.

$information-width: 420px !default;

$success-font-size: 1.4em !default;
$success-line-height: 36px !default;
$success-padding-left: 6px !default;
$success-top: -38px !default;

$failure-font-size: 1.3em !default;
$failure-line-height: -1px !default;
$failure-padding-left: 3px !default;
$failure-top: -36px !default;

//Variables for history elements
$history-margin-vertical: 8px !default;
$history-margin-history: 5px !default;

$history-width: 32px !default;
$history-height: 32px !default;

$statusbar-font-size: 30px !default;

ol.projects {
  list-style: none;

  li.empty-project {
    background: image_url("icons/empty_tile_x.png") center no-repeat;
  }

  li.project {
    float:left;

    > div {
      height: 100%;
    }

    &.success {
      background: $green;
      .information .status-bar {
        background: $light-green;
        border-top: solid $very-dark-green 2px;

      }
      .velocity-block {
        border-color: $very-dark-green;

        .chart {
          dd {
            span {
              background: $dark-green;
            }
          }
        }
      }

      &.aggregate .information {
        @include linear-gradient(0deg, $green 50%, $dark-green 51%);
      }

      .history {
        ol {
          li {
            background: $very-very-light-green center no-repeat;
          }
        }
      }
    }

    &.failure {
      background: $red;
      .information {
        .status-bar {
          background: $light-red;
          border-top: solid $very-dark-red 2px;
        }

      }
      .velocity-block {
        background: $very-light-red;
        border-color: $very-dark-red;

        .chart {
          dd {
            span {
              background: $dark-red;
            }
          }
        }
      }

      &.aggregate .information {
        @include linear-gradient(0deg, $red 50%, $dark-red 51%);
      }

      .history {
        ol {
          li {
            background: $very-very-light-red no-repeat center;
          }
        }
      }
    }


    &.offline {
      background: $grey;

      .information {
        .status-bar {
          background: $grey;
          border-top: solid $very-dark-grey 2px;
        }
      }

      .velocity-block {
        background: $very-light-grey;
        border-color: $very-dark-grey;

        .chart {
          dd {
            span {
              background: $dark-grey;
            }
          }
        }
      }

      &.aggregate .information{
        @include linear-gradient(0deg, $grey 50%, $dark-grey 51%);
      }
    }


    &.server-unreachable, &.server-unreachable.success, &.server-unreachable.failure {
      background: $very-very-light-grey;

      .information {
        .status-bar {
          background: $very-light-grey;
          border-top: solid $dark-grey 2px;
        }
      }

      .velocity-block {
        background: $very-very-light-grey;
        border-color: $dark-grey;

        .chart {
          dd {
            span {
              background: $dark-grey;
            }
          }
        }
      }

      .history {
        ol {
          li {
            background: $very-very-light-grey;
          }
        }
      }

      &.aggregate .information{
        @include linear-gradient(0deg, $light-grey 50%, $grey 51%);
      }
    }

    .information {
      > div {
        text-align: left;
      }
      float: left;

      h1 {
        font-family: 'Avenir LT W01 85 Heavy', Helvetica, sans-serif;
        font-weight: normal;
        text-transform: capitalize;
        color: #2B2820;

        a, a:hover, a:visited {
          color: #2B2820;
          text-decoration: none;
        }
      }

      .status-bar {
        .building-indicator {
          float:left;
          margin:3px 0;
          width:80px;
          text-align:center;

          img {
            width:30px;
            height:30px;
          }
        }

        .publish-date {
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
          float: left;
          text-align: center;
          font-size:1px;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .history {
      ol {
        li {
          line-height: 32px;
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          text-decoration: none;
          a {
            position: relative;
          }
        }

        li.success a {
          top: $success-top;
        }

        li.failure a {
          top: $failure-top;
        }
      }
    }

    .velocity-block {
      float: right;
      border-left: solid 2px;
      border-right: solid 2px;
      float: left;
      text-align: center;

      .label {
        font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        vertical-align: top;
        color: #2B2820
      }
      .value {
        font-family: 'Avenir LT W01 65 Medium', Helvetica, sans-serif;
        vertical-align: top;
      }

      .chart {
        padding-left: 10px;
        dd {
          display:inline;
          float: left;
          margin-right: 2px;
          position: relative;

          span {
            position: absolute;
            bottom: 0;
            border-top-left-radius:1px;
            border-top-right-radius:1px;
          }
        }
      }

    }
  }
}


