.tiles_15 ol.projects {
  $information-width: 420px;

  $success-font-size: 4.3em;
  $success-line-height: 38px;
  $success-padding-left: 4px;
  $success-top: -47px;

  $failure-font-size: 3.0em;
  $failure-line-height: 33px;
  $failure-padding-left: 5px;
  $failure-top: -39px;

  $history-margin-vertical: 8px;
  $history-margin-history: 3px;

  $history-width: 36px;
  $history-height: 36px;

  $statusbar-font-size: 30px;

  background: image_url("icons/empty_tile_x.png");

  > li {
    @include grid(4);
  }

  li.project {
    height: 192px;
    margin-top: 6px;
    margin-bottom: 6px;

    .history {
      ol {
        li {
          width: $history-width;
          height: $history-height;
          margin: $history-margin-vertical $history-margin-history;
          line-height: 25px;

          &.success {
            span {
              font-size: $success-font-size;
              line-height: $success-line-height;
              padding-left: $success-padding-left;
            }

            a {
              top: $success-top;
            }
          }

          &.failure {
            span {
              font-size: $failure-font-size;
              line-height: $failure-line-height;
              padding-left: $failure-padding-left;
            }

            a {
              top: $failure-top;
            }
          }
        }

        a {
          width: $history-width;
          height: $history-height;
        }
      }
    }

    .information {
      width: $information-width;
      h1 {
        text-transform: uppercase;
        $height: 142px - 1;
        height: $height;
        padding: 0 15px;
        line-height: 150px;
        font-size: 100px;
      }

      .status-bar {
        height: 49px;
        width: auto;

        .building-indicator {
          float:left;
          margin: 2px 0;
          width: 70px;
          text-align:center;

          img {
            width:30px;
            height:30px;
          }
        }

        .publish-date {
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
          float: left;
          text-align: center;
          font-size: 24px;
          width: 60px;
          margin: 10px 0 0 0;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .aggregate {
          font-size: 24px;
          margin: 10px 0 0 12px;
        }
      }
    }

    .velocity-block {
      background-size: 100% 1.0em;
      width: 180px;

      .error {
        font-size: 1.1em;
        margin-top: 77px;
      }

      .velocity {
        margin-top: 23px;
      }

      .label {
        font-size: 1.3em;
      }
      .value {
        line-height: 0.8em;
        font-size: 4.5em;
      }

      .velocity_number {
        font-size: 50px;
        padding: 0 0 0 25px;
        width: 0px;
        height: 50px;
      }
      .publish_date {
        height: 150px;
        font-size: 34pt;
        line-height: 150px;
      }

      .chart {
        padding-top: 53px;

        dd {
          height: 60px;
          width: 14px;

          span {
            width: 14px;
          }
        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}
