.tiles_24 ol.projects {
  $information-width: 263px;

  $success-font-size: 2.5em;
  $success-line-height: 23px;
  $success-padding-left: 3px;
  // $success-top: 100px;

  $failure-font-size: 2.3em;
  $failure-line-height: 0px;
  $failure-padding-left: 2px;
  // $failure-top: 100px;

  $history-margin-horizontal: 6px;
  $history-margin-vertical: 10px;
  $history-margin-history: 2.5px;

  $history-width: 22px;
  $history-height: 22px;

  $statusbar-font-size: 30px;

  > li {
    @include grid(3);
  }

  li.project {
    height: 160px;
    margin-top: 6px;
    margin-bottom: 6px;

    .history {
      ol {
        li {
          display:block;
          float:left;
          width: $history-width;
          height:$history-height;
          margin: $history-margin-vertical $history-margin-history;
          position: relative;
          background:$very-very-light-grey;
        }

        li.success:before {
          content: $success-unicode-glyph;
          font-size: $success-font-size;
          line-height: $success-line-height;
          padding-left: $success-padding-left;
        }

        li.failure:before {
          content: $failure-unicode-glyph;
          font-size: $failure-font-size;
          line-height: $failure-line-height;
          padding-left: $failure-padding-left;
        }

        a {
          overflow: hidden;
          font-size: 0;
          display: block;
          width: $history-width;
          height: $history-height;
        }
      }
    }

    .information {
      width: $information-width;
      h1 {
        text-transform: uppercase;
        $height: 112px - 1;
        height: $height;
        padding: 0px 15px;
        line-height: 124px;
        text-align: left;
        font-size: 80px;
      }

      .status-bar {
        margin: 6px 0 0 0;
        height: 41px;
        width: auto;
        .building-indicator {
          // margin: 0px 0 0 0;
          float:left;
          width:42px;
          text-align:center;

          img {
            width:30px;
            height:30px;
          }
        }

        .publish-date {
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
          float: left;
          text-align: center;
          font-size: 16px;
          width: 32px;
          padding: 0 $history-margin-horizontal;
          margin: 12px 0 0 0;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    &.success {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-green 96%, $very-dark-green 97%, $very-light-green 5%);
      }
    }

    &.failure {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-red 96%, $very-dark-red 97%, $very-light-red 5%);
      }
    }

    &.offline {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-grey 96%, $very-dark-grey 97%, $very-light-grey 5%);
      }
    }

    .velocity-block {
      background-size: 16px;
      width: 180px;

      .velocity {
        margin-top: 19px;
      }

      .label {
        font-size: 1.3em;
      }
      .value {
        line-height: 0.8em;
        font-size: 4.5em;
      }

      .no-connection {
        font-size: 1.3em;
        line-height: 160px;
      }

      .chart {
        padding-top: 44px;

        dd {
          height: 45px;
          width: 14px;

          span {
            width: 14px;
          }
        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}
