.tiles_63 ol.projects {
  $information-width: 157px;

  $success-font-size: 1.8em;
  $success-line-height: 13px;
  $success-padding-left: 4px;
  // $success-top: 100px;

  $failure-font-size: 1.7em;
  $failure-line-height: 13px;
  $failure-padding-left: 2px;
  // $failure-top: 100px;

  $history-margin-horizontal: 8px;
  $history-margin-vertical: 6px;
  $history-margin-history: 2px;

  $history-width: 18px;
  $history-height: 18px;

  $statusbar-font-size: 30px;

  > li {
    @include grid(1, 7);
  }

  li.empty-project {
    background: image_url("icons/empty_tile_x_48.png") center no-repeat;
  }

  li.location-header {
    height:103px;
    margin-top: 6px;
    margin-bottom: 6px;

    text-align: center;

    background: image_url("icons/location_arrow.png") 50% 74% no-repeat;

    span {
      border-bottom: 2px solid #666;
      color: #666;
      display: inline-block;
      font-family: 'AvenirNextLTW01-Condens 721299', Helvetica, sans-serif;
      font-size: 40px;
      margin-top: 23px;
      text-transform: uppercase;
    }
  }

  li.project {
    height:103px;
    margin-top: 6px;
    margin-bottom: 6px;

    .history {
      ol {
        li {
          display:block;
          float:left;
          width: $history-width;
          height:$history-height;
          margin: $history-margin-vertical $history-margin-history;
          position: relative;
          background:$very-very-light-grey;
        }

        li.success:before {
          content: $success-unicode-glyph;
          font-size: $success-font-size;
          line-height: $success-line-height;
          padding-left: $success-padding-left;
          position: absolute;
          top:3px;
        }

        li.failure:before {
          content: $failure-unicode-glyph;
          font-size: $failure-font-size;
          line-height: $failure-line-height;
          padding-left: $failure-padding-left;
          position: absolute;
          top:2px;
        }

        a {
          overflow: hidden;
          font-size: 0;
          display: block;
          width: $history-width;
          height: $history-height;
        }
      }
    }

    .information {
      width: $information-width;
      h1 {
        text-transform: uppercase;
        $height: 72px - 1;
        height: $height;
        padding: 0px 15px;
        line-height: 75px;
        text-align: left;
        font-size: 44px;
      }

      .status-bar {
        height: 30px;
        width: 157px;
        overflow: hidden;
        .building-indicator {
          // margin: 0px 0 0 0;
          float:left;
          width:42px;
          text-align:center;

          img {
            width:30px;
            height:30px;
          }
        }

        .publish-date {
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
          float: left;
          text-align: center;
          font-size: 16px;
          width: 26px;
          padding: 0 8px;
          margin: 6px 0 0 0;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }

        .aggregate {
          font-size: 16px;
          margin: 6px 0 0 9px;
        }
      }
    }

    &.success {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-green 95%, $very-dark-green 96%, $very-light-green 5%);
      }
    }

    &.failure {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-red 95%, $very-dark-red 96%, $very-light-red 5%);
      }
    }

    &.offline {
      .velocity-block {
        @include linear-gradient(90deg, $very-light-grey 95%, $very-dark-grey 96%, $very-light-grey 5%);
      }
    }

    &.server-unreachable, &.server-unreachable.success, &.server-unreachable.failure {
      .velocity-block {
        @include linear-gradient(90deg, $very-very-light-grey 95%, $very-dark-grey 96%, $very-very-light-grey 5%);
      }
    }

    .velocity-block {
      background-size: 11px;
      width: 96px;

      .error {
        font-size: .8em;
        margin-top: 44px;
      }

      .velocity {
        margin-top: 12px;
      }

      .label {
        font-size: 0.9em;
      }

      .value {
        line-height: 0.8em;
        font-size: 2em;
      }

      .publish_date {
        height: 90px;
        font-size: 24pt;
        line-height: 70px;
      }

      .chart {
        padding-top: 32px;

        dd {
          height: 35px;
          width: 6px;

          span {
            width: 6px;
          }
        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}
