@import 'compass/css3/transform';
@import 'compass/css3/opacity';
@import 'compass/css3/shared';
@import 'animations';

article.tracker {
  @include linear-gradient(top, $blue 90%, darken($blue, 10%) 10%);
  background-size: 10px 10px;
  height: 159px;

  .title {
    text-transform: uppercase;
    font-weight: bold;
  }

  .stats {
    float: left;
  }

  .no-connection {
    height: 127px;
    text-align: center;
    font-size: 25px;
  }

  dl.metrics {
    float: left;
    background-color: lighten($blue, 10%);
    border-top: 1px solid darken($blue, 20%);
    border-bottom: 1px solid darken($blue, 20%);
    width: 216px;
    height: 118px;
    .metrics-half {
      position: relative;
      float: left;
      width: 50%;
    }
    dd {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: bold;
      &.current-velocity {
        font-size: 83px;
      }
      &.current-variance {
        color: rgb(50, 50, 50);
        font-size: 20px;
        margin-top: 65px;
      }
    }
    dt {
      display: block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
      &.current-velocity-label {
        margin-top: -6px;
      }
      &.current-variance-label {
        margin-top: 5px;
      }
    }
  }

  article.current-iteration {
    float: right;
    border-bottom: 2px solid darken($blue, 20%);
    height: 118px;
    width: 355px;
    position: relative;
    margin-right: 2px;
   
    .bar-chart-container {
      list-style: none;
      width: 100%;
      height: 100%;
      display: block;
      background-color: lighten($blue, 10%);

      .bar-chart {
        rect {
          fill: darken($blue, 20%);

          &.whomp-whomp {
            @include experimental(animation, svg-pulse-green 2.5s ease-in-out infinite);
            // @include experimental(animation-duration, 1s);
            // @include experimental(animation-timing-function, ease);
            // @include experimental(animation-duration, 1s);

          }
        }
        text {
          font-family: 'Avenir LT W01 35 Light', 'Helvetica';
          text-transform: uppercase;
          font-size: 10px;
        }
        .axis {

          path.domain {
            stroke: $very-dark-green;
            shape-rendering: crispEdges;
            fill: none;
          }

          .tick {
            text {
              font-size: 9px;
              text-transform: uppercase; 
            }
            line {
              stroke: $dark-green;
              shape-rendering: crispEdges;
              fill: none;
            }
          }
        }
      }
      .bar {
        display: inline-block;
        background-color: darken($blue, 20%);
      }
    } 
  }

  dl.velocities {
    float: right;
    border-bottom: 2px solid darken($blue, 20%);
    height: 118px;
    width: 370px;
    margin-bottom: 11px;

    dd {
      display:inline;
      float: left;
      position: relative;
      margin-right: 2px;
      height: 100%;
      width: 35px;

      span {
        position: absolute;
        bottom: 0;
        background-color: darken($blue, 20%);
          width: 32px;
          bottom: 0;
    }
  }

  dd:nth-child(10) span { opacity: 0.95; }
  dd:nth-child(9)  span { opacity: 0.90; }
  dd:nth-child(8)  span { opacity: 0.85; }
  dd:nth-child(7)  span { opacity: 0.80; }
  dd:nth-child(6)  span { opacity: 0.70; }
  dd:nth-child(5)  span { opacity: 0.60; }
  dd:nth-child(4)  span { opacity: 0.50; }
  dd:nth-child(3)  span { opacity: 0.35; }
  dd:nth-child(2)  span { opacity: 0.30; }
  dd:nth-child(1)  span { opacity: 0.25; }
  }
}