/* Variables */
$very-very-light-green: #d2e9dc;
$very-light-green: #b9dcc8;
$light-green: #a9d5bb;
$green:  #93CDAD;
$dark-green: #7cc39c;
$very-dark-green: #67ae84;

$very-very-light-red: #fdc3ac;
$very-light-red: #f99e7f;
$light-red: #f88b69;
$red:  #f6704d;
$dark-red: #f25e3e;
$very-dark-red: #d5514b; 

$very-very-light-grey: #f1f4f0;
$very-light-grey: #e7ede6;
$light-grey: #e2e9e1;
$grey:  #dbe3da;
$dark-grey: #c9c9c9;
$very-dark-grey: #bbbcb7;
