@import "bourbon";

/* Variables */
$transparent-white: transparentize(white, 0.25);

$very-very-light-green: #d2e9dc;
$very-light-green: #b9dcc8;
$light-green: #a9d5bb;
$green:  #93CDAD;
$dark-green: #7cc39c;
$very-dark-green: #67ae84;

$very-very-light-red: #fdc3ac;
$very-light-red: #f99e7f;
$light-red: #f88b69;
$red:  #f6704d;
$dark-red: #f25e3e;
$very-dark-red: #d5514b;

$very-very-light-grey: #f1f4f0;
$very-light-grey: #e7ede6;
$light-grey: #e2e9e1;
$grey:  #dbe3da;
$dark-grey: #c9c9c9;
$very-dark-grey: #bbbcb7;

$disabled-grey: #7c7c79;

$white: #ffffff;

$very-light-yellow: #F9FF9D;
$light-yellow: #EAF094;
$yellow: #D1D684;
$dark-yellow: #AEB36E;
$very-dark-yellow: #A2954B;

$blue: #99CBC6;
$gray: #AAA499;
$black: #000000;

/* History Constants */
$success-unicode-glyph: "\2022"; // unicode bullet
$failure-unicode-glyph: "\00D7"; // unicode 'x'


/* CSS Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  background: white;
  margin: 0;
}

body, p, li {
  color: black;
}

p {
  font-size: 1em;
  line-height: 1.6em;
  font-weight: normal;
  margin: 0 0 1.6em 0;
  padding: 0;
}

h1 {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2.4em;
  color: #2B2820;
}

h2 {
  font-family: Helvetica, sans-serif;
  padding: 0;
  line-height: 1em;
}

@mixin striped-background($stripe1, $stripe2, $angle: -45deg, $size: 70px, $other-backgrounds: false) {
  @include background-image(linear-gradient($angle, $stripe1 25%, $stripe2 25%, $stripe2 50%, $stripe1 50%, $stripe1 75%, $stripe2 75%, $stripe2), $other-backgrounds);
  background-repeat: repeat;
  @include background-size(unquote("#{$size} #{$size}"));
}
