$ninesixty-gutter-width: 12px;
$ninesixty-fluid-gutter-width: 1%;
$ninesixty-fluid-grid-width: 100%;
$ninesixty-grid-width: 1896px;
@import '960.gs';
@import 'projects';

html {
  height: 100%;
}

body.dashboard {
  background-color: #2A271F;
  padding: 14px 0 0 0px;
  height: 100%;
  width: 100%;

  #footer {
    color: white;
    vertical-align: bottom;
    clear: both;

    .left {
      display: inline-block;
      float: left;
    }

    .right {
      display: inline-block;
      float: right;
      margin-right: 50px;

      #indicator {
        float:left;
        display:block;

        &.idle {
          display:none;
        }
      }
    }
  }

  a.projects_path {
    padding: 5px;
    color: white;
    text-decoration: none;
  }

  &.tiles_15, &.tiles_24, &.tiles_48 {
    @include fluid-grid-system(12);
  }

  &.tiles_63 {
    @include fluid-grid-system(7);
  }
}

.clear {
  clear: both;
}
