/*
 *= require projects
 *= require 960gs
 */

body.dashboard {
  background-color: #2A271F;

}

#footer {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 100%;
  text-align: right;
  color: white;
}

a.projects_path {
  padding: 5px;
  color: white;
  text-decoration: none;
}

a.projects_path:hover {
}
