/*
 *= require projects
 */

$ninesixty-gutter-width: 12px;
$ninesixty-fluid-grid-width: 100%;
$ninesixty-grid-width: 1884px;
@import '960.gs';

@include grid-system-complete(7);
@include grid-system-complete(12);

body.dashboard {
  background-color: #2A271F;
  padding: 14px;

  #footer {
    color: white;
    vertical-align: bottom;

    .left {
      display: inline-block;
      float: left;
    }

    .right {
      display: inline-block;
      float: right;

      #indicator {
        float:left;
        display:block;

        &.idle {
          display:none;
        }
      }
    }
  }

  a.projects_path {
    padding: 5px;
    color: white;
    text-decoration: none;
  }
}


a.projects_path:hover {
}
