$ninesixty-gutter-width: 12px;
$ninesixty-fluid-gutter-width: 1%;
$ninesixty-fluid-grid-width: 100%;
$ninesixty-grid-width: 1896px;
@import '960.gs';
@import 'projects';

html {
  height: 100%;
}

body.dashboard {
  background-color: #2A271F;
  height: 100%;
  width: 100%;

  .github {
    &.bad {
      background: orange;
    }

    &.unreachable {
      background: white;
    }

    margin: 0;
    text-align: center;
    font-size: 39px;
    display: none;

    a {
      text-decoration: none;
      color: black;
    }
  }

  #footer {
    color: white;
    vertical-align: bottom;
    clear: both;

    a {
      display: inline-block;
    }

    .left {
      display: inline-block;
      float: left;
    }

    .right {
      display: inline-block;
      float: right;
      margin-right: 50px;

      #indicator {
        float:left;
        display:block;

        &.idle {
          display:none;
        }
      }
    }
  }

  a.projects_path {
    padding: 5px;
    color: white;
    text-decoration: none;
  }
}

.clear {
  height:75px;
  clear: both;
}
