@import "constants";

@mixin building_animation_0($background_color) {
  opacity: 1;
  background: $background_color + #252525;
}

@mixin building_animation_100 {
  opacity: 0;
  background: white;
}

@-webkit-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-webkit-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-moz-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-green {
  0% { @include building_animation_0($very-very-light-green); }
  100% { @include building_animation_100; }
}

@-ms-keyframes building-red {
  0% { @include building_animation_0($very-very-light-red); }
  100% { @include building_animation_100; }
}

ol.projects {
  list-style: none;

  li.empty-project {
    background: image_url("icons/empty_tile_x.png") center no-repeat;
  }

  li.project {
    float:left;

    > div {
      height: 100%;
    }

    &.success {
      background: $green;
      .information {
        .status-bar {
          background: $light-green;
          border-top: solid $very-dark-green 2px;
        }
      }
      .history{
        background: $very-light-green;
        border-color: $very-dark-green;

        .sparklines .sparkline {
          background: $very-very-light-green;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-green);
        }
      }
      &.aggregate .information {
        @include linear-gradient(0deg, $green 50%, $dark-green 51%);
      }
    }

    &.failure {
      background: $red;
      .information {
        .status-bar {
          background: $light-red;
          border-top: solid $very-dark-red 2px;
        }

      }
      .history{
        background: $very-light-red;
        border-color: $very-dark-red;

        .sparklines .sparkline {
          background: $very-very-light-red;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-red);
        }
      }
      &.aggregate .information {
        @include linear-gradient(0deg, $red 50%, $dark-red 51%);
      }
    }


    &.offline {
      background: $grey;

      .information {
        .status-bar {
          background: $light-grey;
          border-top: solid $very-dark-grey 2px;
        }
      }

      .history{
        background: $very-light-grey;
        border-color: $very-dark-grey;

        .sparklines .sparkline {
          background: $very-very-light-grey;
        }
      }
      &.aggregate .information{
        @include linear-gradient(0deg, $grey 50%, $dark-grey 51%);
      }
    }


    &.server-unreachable {
      background: $very-very-light-grey;

      .information {
        .status-bar {
          background: $very-light-grey;
          border-top: solid $dark-grey 2px;
        }
      }

      .history{
        background: $very-very-light-grey;
        border-color: $dark-grey;

        .sparklines .sparkline {
          background: $white;
        }
      }
      &.aggregate .information{
        @include linear-gradient(0deg, $light-grey 50%, $grey 51%);
      }
    }

    .information {
      > div {
        text-align: left;
      }
      float: left;

      h1 {
        font-family: 'Avenir LT W01 85 Heavy', Helvetica, sans-serif;
        font-weight: normal;
        text-transform: capitalize;
        color: #2B2820;

        a, a:hover, a:visited {
          color: #2B2820;
          text-decoration: none;
        }
      }

      .status-bar {
        .publish-date {
          float: right;
          text-align: center;
          font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
          font-weight: normal;
        }

        .inventory {
          .healthy {
            color: green;
          }

          .unhealthy {
            color: red;
          }

          float: right;
          margin-right: 20px;
          font-size: 10px;
        }

        .name {
          font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;

          a {
            text-decoration: none;
            color: black;
          }
        }
      }
    }

    .history {
      float: right;
      border-left: solid 2px;
      border-right: solid 2px;
      float: left;
      text-align: center;

      .sparklines {
        display: inline-block;
        position: relative;
        list-style: none;

        .sparkline {
          display: block;
          float: left;
          position: relative;
          margin: 2px;
          overflow: hidden;
          text-indent: -1000px;

          a {
            display: block;
          }

          &.offline {
            background-color: #5CC8F9;
          }

          &.success {
            a {
              background: url(/assets/icons/success.png) center no-repeat;
            }
          }

          &.failure {
            a {
              background: url(/assets/icons/failure.png) center no-repeat;
            }
          }
        }

        &.building {
          .sparkline {
            @include animation-duration(1s);
            @include animation-direction(alternate);
            @include animation-timing-function(ease);
            @include animation-iteration-count(infinite);

            &:nth-child(1) { @include animation-delay(.135s); }
            &:nth-child(2) { @include animation-delay(.94s); }
            &:nth-child(3) { @include animation-delay(.26s); }
            &:nth-child(4) { @include animation-delay(2s); }
            &:nth-child(5) { @include animation-delay(1s); }
            &:nth-child(6) { @include animation-delay(.5s); }
            &:nth-child(7) { @include animation-delay(.3s); }
            &:nth-child(8) { @include animation-delay(1.18s); }
            &:nth-child(9) { @include animation-delay(1.8s); }
            &:nth-child(10) { @include animation-delay(.4s); }

            &.success, &.failure {
              a {
                background-color: transparent;
              }
            }
          }
        }
      }
    }

    &.success {
      .history {
        .project_history {
          .sparklines.building {
            .sparkline {
              @include animation-name(building-green);
            }
          }
        }
      }
    }

    &.failure {
      .history {
        .project_history {
          .sparklines.building {
            .sparkline {
              @include animation-name(building-red);
            }
          }
        }
      }
    }
  }
}

ol.projects.tiles_15 {
  $information-width: 420px;

  li.project {
    height: 192px;
    margin-top: 6px;
    margin-bottom: 6px;
    .information {
      width: $information-width;

      h1 {
        $height: 142px - 1;
        height: $height;
        padding: 0 15px;
        line-height: $height;
        font-size: 100px;
      }

      .status-bar {
        padding: 0 15px;
        height: 50px - 1;
        line-height: 50px - 1;
        font-size: 30px;
      }
    }

    .history {
      width: 180px;
      .publish_date {
        height: 150px;
        font-size: 34pt;
        line-height: 150px;
      }

      .sparklines {
        margin: 100px 15px 5px;
        width: 150px;

        .sparkline {
          a {
            width: 26px;
            height: 26px;
          }

          &.success {
            a {
              background: url(/assets/icons/success_15.png) center no-repeat;
            }
          }

          &.failure {
            a {
              background: url(/assets/icons/failure_15.png) center no-repeat;
            }
          }
        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

ol.projects.tiles_24 {
  $information-width: 263px;

  li.project {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 161px;
    .information {
      width: $information-width;

      h1 {
        $height: 110px - 1;
        height: $height;
        padding: 0 15px;
        line-height: $height;
        font-size: 92px;
      }

      .status-bar {
        padding: 0 15px;
        height: 50px - 1;
        line-height: 50px - 1;
        font-size: 30px;
      }
    }

    .history {
      width: 180px;
      .publish_date {
        height: 150px;
        font-size: 34pt;
        line-height: 150px;
      }

      .sparklines {
        margin: 95px 30px 5px;
        width: (20px + 2 + 2) * 5;

        .sparkline {
          a {
            width: 20px;
            height: 20px;
          }

        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

ol.projects.tiles_48 {
  $information-width: 190px;

  li.empty-project {
    background: image_url("icons/empty_tile_x_48.png") center no-repeat;
  }

  li.project {
    height: 118px;
    margin-top: 6px;
    margin-bottom: 6px;
    .information {
      width: $information-width;

      h1 {
        $height: 82px - 1;
        height: $height;
        padding: 0 15px;
        line-height: $height;
        font-size: 60px;
      }

      .status-bar {
        padding: 0 15px;
        height: 35px - 1;
        line-height: 35px - 1;
        font-size: 28px;
      }
    }

    .history {
      width: 96px;
      .publish_date {
        height: 90px;
        font-size: 24pt;
        line-height: 70px;
      }

      .sparklines {
        margin: 70px 10px 20px;
        width: 80px;

        .sparkline {
          margin: 2px 2px 0 0;
          a {
            background-size: 63%;
            width: 14px;
            height: 14px;
          }
        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

ol.projects.tiles_63 {
  $information-width: 157px;

  li.empty-project {
    background: image_url("icons/empty_tile_x_48.png") center no-repeat;
  }

  li.location-header {
    text-align: center;

    background: image_url("icons/location_arrow.png") 50% 74% no-repeat;

    span {
      border-bottom: 2px solid #666;
      color: #666;
      display: inline-block;
      font-family: 'AvenirNextLTW01-Condens 721299', Helvetica, sans-serif;
      font-size: 40px;
      margin-top: 23px;
      text-transform: uppercase;
    }
  }

  li.project {
    height: 104px;
    margin-top: 6px;
    margin-bottom: 6px;
    .information {
      width: $information-width;

      h1 {
        $height: 80px - 1;
        height: $height;
        padding: 0 15px;
        line-height: $height;
        font-size: 48px;
      }

      .status-bar {
        border: none;
        padding: 0 15px;
        height: 25px;
        line-height: 27px;
        font-size: 14px;
      }
    }

    .history {
      border: none;
      width: 96px;
      .publish_date {
        height: 90px;
        font-size: 24pt;
        line-height: 70px;
      }

      .sparklines {
        margin: 60px 10px 20px;
        width: 80px;

        .sparkline {
          margin: 2px 2px 0 0;
          a {
            background-size: 63%;
            width: 14px;
            height: 14px;
          }

        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

