@import "constants";

@-webkit-keyframes building-green {
  0% { background: $very-very-light-green; }
  100% { background: white; }
}

@-webkit-keyframes building-red {
  0% { background: $very-very-light-red; }
  100% { background: white; }
}

@-moz-keyframes building-green {
  0% { background: $very-very-light-green; }
  100% { background: white; }
}

@-moz-keyframes building-red {
  0% { background: $very-very-light-red; }
  100% { background: white; }
}

@-ms-keyframes building-green {
  0% { background: $very-very-light-green; }
  100% { background: white; }
}

@-ms-keyframes building-red {
  0% { background: $very-very-light-red; }
  100% { background: white; }
}

ol.projects {
  list-style: none;

  li.empty-project {
    background: image_url("icons/empty_tile_x.png") center no-repeat;
  }

  li.project {
    float:left;

    > div {
      height: 100%;
    }

    &.success {
      background: $green;
      .information {
        h2 {
          background: $light-green;
          border-top: solid $very-dark-green 2px;
        }
      }
      .history{
        background: $very-light-green;
        border-color: $very-dark-green;

        .sparklines .sparkline {
          background: $very-very-light-green;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-green);
        }
      }
      &.aggregate .information {
        @include linear-gradient(0deg, $green 50%, $dark-green 51%);
      }
    }

    &.failure {
      background: $red;
      .information {
        h2 {
          background: $light-red;
          border-top: solid $very-dark-red 2px;
        }

      }
      .history{
        background: $very-light-red;
        border-color: $very-dark-red;

        .sparklines .sparkline {
          background: $very-very-light-red;
        }

        .sparklines.building .sparkline {
          @include animation-name(building-red);
        }
      }
      &.aggregate .information {
        @include linear-gradient(0deg, $red 50%, $dark-red 51%);
      }
    }


    &.offline {
      background: $grey;

      .information {
        h2 {
          background: $light-grey;
          border-top: solid $very-dark-grey 2px;
        }
      }

      .history{
        background: $very-light-grey;
        border-color: $very-dark-grey;

        .sparklines .sparkline {
          background: $very-very-light-grey;
        }
      }
      &.aggregate .information{
        @include linear-gradient(0deg, $grey 50%, $dark-grey 51%);
      }
    }


    .information {
      > div {
        text-align: left;
      }
      float: left;

      h1 {
        font-family: 'Avenir LT W01 85 Heavy', Helvetica, sans-serif;
        font-weight: bold;
        text-transform: capitalize;
        color: #2B2820;

        a, a:hover, a:visited {
          color: #2B2820;
          text-decoration: none;
        }
      }

      h2 {
        font-family:'Avenir LT W01 55 Roman', Helvetica, sans-serif;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: capitalize;

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .history {
      float: right;
      border-left: solid 2px;
      border-right: solid 2px;
      float: left;
      text-align: center;

      .publish_date {
        text-align: center;
        font-family: 'Avenir LT W01 35 Light', Helvetica, sans-serif;
      }

      .sparklines {
        display: inline-block;
        position: relative;
        list-style: none;

        .sparkline {
          display: block;
          float: left;
          position: relative;
          margin: 2px;
          overflow: hidden;
          text-indent: -1000px;

          a {
            display: block;
          }

          &.offline {
            background-color: #5CC8F9;
          }

          &.success {
            a {
              background: url(/assets/icons/success.png) center no-repeat;
            }
          }

          &.failure {
            a {
              background: url(/assets/icons/failure.png) center no-repeat;
            }
          }
        }

        &.building {
          .sparkline {
            @include animation-duration(.5s);
            @include animation-direction(alternate);
            @include animation-timing-function(ease);
            @include animation-iteration-count(infinite);

            &:nth-child(1) { @include animation-delay(.2s); }
            &:nth-child(2) { @include animation-delay(.4s); }
            &:nth-child(3) { @include animation-delay(.6s); }
            &:nth-child(4) { @include animation-delay(.8s); }
            &:nth-child(5) { @include animation-delay(1s); }
            &:nth-child(6) { @include animation-delay(.2s); }
            &:nth-child(7) { @include animation-delay(.4s); }
            &:nth-child(8) { @include animation-delay(.6s); }
            &:nth-child(9) { @include animation-delay(.8s); }
            &:nth-child(10) { @include animation-delay(1s); }

            &.success, &.failure {
              a {
                background-color: transparent;
              }
            }

            &.success {
              a {
                opacity: 0.4;
              }
            }

            &.failure {
              a {
                opacity: 0.4;
              }
            }
          }
        }
      }
    }

    &.success {
      .history {
        .project_history {
          .sparklines.building {
            .sparkline {
              @include animation-name(building-green);
            }
          }
        }
      }
    }

    &.failure {
      .history {
        .project_history {
          .sparklines.building {
            .sparkline {
              @include animation-name(building-red);
            }
          }
        }
      }
    }
  }
}

ol.projects.tiles_15 {
  $information-width: 436px;

  li.project {
    height: 200px;
    .information {
      width: $information-width;

      h1 {
        height: 150px - 1;
        padding: 0 15px;
        line-height: 150px - 1;
        font-size: 100px;
      }

      h2 {
        padding: 0 15px;
        height: 50px - 1;
        line-height: 50px - 1;
        font-size: 30px;
      }
    }

    .history {
      width: 180px;
      .publish_date {
        height: 150px;
        font-size: 34pt;
        line-height: 150px;
      }

      .sparklines {
        margin: -25px 30px 5px;
        width: (20px + 2 + 2) * 5;

        .sparkline {
          a {
            width: 20px;
            height: 20px;
          }

        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

ol.projects.tiles_24 {
  $information-width: 276px;

  li.project {
    height: 180px;
    .information {
      width: $information-width;

      h1 {
        $height: 130px - 1;
        height: $height;
        padding: 0 15px;
        line-height: $height;
        font-size: 100px;
      }

      h2 {
        padding: 0 15px;
        height: 50px - 1;
        line-height: 50px - 1;
        font-size: 30px;
      }
    }

    .history {
      width: 180px;
      .publish_date {
        height: 150px;
        font-size: 34pt;
        line-height: 150px;
      }

      .sparklines {
        margin: -25px 30px 5px;
        width: (20px + 2 + 2) * 5;

        .sparkline {
          a {
            width: 20px;
            height: 20px;
          }

        }
      }
    }

    &.aggregate {
      .information {
        background-size: ($information-width/5.5);
      }
    }
  }
}

