@import "constants";

.page{
  margin: 15px;
}

.dashboard {
  margin: 0px;
  padding: 5px;
  background: black;
  overflow: hidden;
}

.error {
  color: #000000;
}

.success {
  color: #000000;
}

#build_setup, #tracker_setup {
  .success {
    color: $very-dark-green;
    font-weight: bold;
  }
  .failure {
    color: $very-dark-red;
    font-weight: bold;
  }
  .pending {
    background: url("/assets/ajax-loader.gif");
    width: 128px;
    height: 15px;
    display: inline-block;
  }
}

.hide {
  display: none !important;
}

a,
a:link {
  color: black;
}

a:hover {
  color: #aa1224;
}

/* Projects */

.box {
  position: relative;
  height: 213px;
  width: 213px;
}

#header {
  margin: 0;
  padding: .8em 1em;
  background-color: #88C2E5;
}

#header .company_logo {
  margin: 0.5em;
}

#header a, #header img {
  border: 0
}

#title {
  padding-top: 10px;
  margin-left: 300px;
  text-align: left;
}

.cached_images {
  display: none;
}

.project_visit {
  float: right;
  font-size: smaller;
}


#top_right {
  position: absolute;
  top: 0.25em;
  right: 2em;
  margin-top: 0.5em;
}

#advertisement {
  font-size: smaller;
}

.logo_page {
  padding-top: 100px;
  text-align: center;
}

.smaller_text {
  font-size: smaller;
}

#flash_error {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #aa1224;
  padding: 15px;
  margin: 15px 0;
}

#flash_notice {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2em;
  background-color: #2B4C74;
  padding: 15px;
  margin: 15px 0;
}

#openid_url {
  background: url(/assets/login-bg.gif) no-repeat #FFF 5px;
  padding-left: 25px;
}

/*
Form Errors
*/

.field_with_errors {
  display: inline-block;

  > label {
    color: red;
  }
  > input, > select {
    border: 1px solid red;
  }
}

#errorExplanation {
  width: 550px;
  border: 2px solid red;
  padding: 7px;
  margin: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul {
    margin-left: 24px;

    li {
      font-size: 12px;
      list-style: square;
      padding-bottom: 4px;
    }
  }
}


table.projects {
  border-collapse: collapse;
  margin: 15px 0 40px 0;
}

table.projects tr th {
  text-align: left;
  font-size: 1.1em;
  padding: 5px 15px;
}

table.projects tr td {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}

table.projects tr.odd td {
  background-color: #eee;
}

table.projects tr.even {
}

.button,
a:link.button {
  background:#2B4C74;
  padding: 2px 5px;
  font-size: 12px;
  color: #eeeeee;
  text-decoration:none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display:table-inline;
  font-weight:bold;
  letter-spacing: 1px;
  box-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
  -moz-box-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
  -webkit-shadow: 0 0 0 1px #3B6692, 0 0 0 2px #444;
}

.button:hover,
a:hover.button {
  color: #eeeeee;
  background: #14274A;
}

.add_button {
  margin-left: 15px;
/* text-transform: uppercase; */
  font-size: 13px;
}

.tag_list {
  font-size: 0.9em;
  color: #666;
  font-weight: bold;
}

form {

  background-color: #eeeeee;
  margin: 30px;
  padding: 30px;
  width: 38em;

  label {
    width: 9em;
    display: inline-table;
    vertical-align: top;
    font-weight: bold;
    text-align: right;
    margin-right: 2em;
  }

  em {
    margin-top: .4em;
    margin-left: 12em;
    display: block;
  }

  .options {
    margin-left: 11em;
  }

  .submit {
    text-align: right;
    margin-bottom: 0
  }

}

#schedules label {
  display: inline;
  width: 3em;
  margin-right: 0;
  font-weight: normal;
}

.project.message .box {
  background: url('/assets/greybox.png') no-repeat top left;
}

.project.message .box p {
  margin: 5px 0 0 15px;
  width: 183px;
  height: 180px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  overflow:hidden;
}

.twtr-widget {
  position: relative;
  top: 4px;
  left: 13px;
}
.twtr-bd {
  height: 171px;
  overflow: hidden;
}

.twtr-ft {
  height: 7px;
}

.twtr-reply, .twtr-rt, .twtr-fav {
  display: none;
}

.twtr-tweet-text em {
  color: #ffffff;
}

.projects.index {
 h1 { margin-bottom: 10px; }
}

.projects.edit, .projects.new {
  #project_tracker_project_id_error, #project_tracker_auth_token_error {
    display: inline;
    color: $very-dark-red;
  }
  #project_tracker_project_id_success,#project_tracker_auth_token_success {
    display: inline;
    color: $very-dark-green;
  }
}
