<div class="digiclock wrapper green">
	<div class="overlay"></div>
	<div class="display">
		<div class="slot number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot sep colon">
			<div class="element bar top"></div>
			<div class="element bar bottom"></div>
		</div>
		<div class="slot number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot second number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot second number">
			<div class="element bar center top"></div>
			<div class="element bar center middle"></div>
			<div class="element bar center bottom"></div>
			<div class="element bar left top"></div>
			<div class="element bar left bottom"></div>
			<div class="element bar right top"></div>
			<div class="element bar right bottom"></div>
		</div>
		<div class="slot text ampm">
				<p class="element am">AM</p>
				<p class="element pm">PM</p>
		</div>
	</div>
</div> 