<% content_for(:head) do %>
<% end %>

<% unless @messages.empty? %>
    <div id="messages_right" style="width:20%">
      <%= render :partial => 'messages' %>
    </div>
<% end %>

<div class="projects"
     <% unless @messages.empty? %>style="width:80%"
     <% end %> >
  <% for project in @projects %>
      <div class="project">
        <%= render :partial => 'project', :locals => {:project => project} %>
      </div>
  <% end %>
</div>
