---
http_interactions:
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"d1d3364e85b2f880a606cac8101ab0e6"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <project>
          <id>1059836</id>
          <name>test project</name>
          <iteration_length type="integer">1</iteration_length>
          <week_start_day>Monday</week_start_day>
          <point_scale>0,1,2,3</point_scale>
          <account>testusermailinator</account>
          <first_iteration_start_time type="datetime">2016/03/21 07:00:00 UTC</first_iteration_start_time>
          <current_iteration_number type="integer">1</current_iteration_number>
          <enable_tasks type="boolean">true</enable_tasks>
          <velocity_scheme>Average of 3 iterations</velocity_scheme>
          <current_velocity>10</current_velocity>
          <initial_velocity>10</initial_velocity>
          <number_of_done_iterations_to_show>12</number_of_done_iterations_to_show>
          <labels></labels>
          <last_activity_at type="datetime">2016/03/23 22:45:56 UTC</last_activity_at>
          <allow_attachments>true</allow_attachments>
          <public>false</public>
          <use_https>false</use_https>
          <bugs_and_chores_are_estimatable>false</bugs_and_chores_are_estimatable>
          <commit_mode>false</commit_mode>
          <memberships type="array">
            <membership>
              <id>4149524</id>
              <person>
                <email>testuser@mailinator.com</email>
                <name>Test User</name>
                <initials>TU</initials>
              </person>
              <role>Owner</role>
            </membership>
          </memberships>
          <integrations type="array">
          </integrations>
        </project>
  recorded_at: Wed, 23 Mar 2016 22:45:57 GMT
- request:
    method: post
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <story>
          <name>Test 1</name>
          <description/>
          <story_type>feature</story_type>
          <estimate>1</estimate>
          <current_state>accepted</current_state>
          <requested_by>Test User</requested_by>
          <owned_by/>
          <labels/>
          <project_id>1059836</project_id>
          <accepted_at>2016-03-16T22:45:58+00:00</accepted_at>
        </story>
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Location:
      - https://www.pivotaltracker.com/services/v3/projects/1059836/stories/116260867
      Etag:
      - '"8c52ea505a27e3e4271c252166cf3143"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">116260867</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>https://www.pivotaltracker.com/story/show/116260867</url>
          <estimate type="integer">1</estimate>
          <current_state>accepted</current_state>
          <description></description>
          <name>Test 1</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2016/03/23 22:45:58 UTC</created_at>
          <updated_at type="datetime">2016/03/23 22:45:58 UTC</updated_at>
          <accepted_at type="datetime">2016/03/16 12:00:00 UTC</accepted_at>
        </story>
  recorded_at: Wed, 23 Mar 2016 22:45:58 GMT
[...]
- request:
    method: get
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/iterations/done
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"0788a5a78676aa49f9d1784fca97a2c0"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <iterations type="array">
          <iteration>
            <id type="integer">1</id>
            <number type="integer">1</number>
            <start type="datetime">2016/02/29 00:00:00 PST</start>
            <finish type="datetime">2016/03/07 00:00:00 PST</finish>
            <team_strength type="float">1</team_strength>
            <stories type="array">
              <story>
                <id type="integer">116260877</id>
                <project_id type="integer">1059836</project_id>
                <story_type>feature</story_type>
                <url>https://www.pivotaltracker.com/story/show/116260877</url>
                <estimate type="integer">3</estimate>
                <current_state>accepted</current_state>
                <description></description>
                <name>Test 3</name>
                <requested_by>Te[...]
[...]
- request:
    method: delete
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories/116260877
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"cccee3e2e51508eaed76abe8c9f2664f"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">116260877</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>https://www.pivotaltracker.com/story/show/116260877</url>
          <estimate type="integer">3</estimate>
          <current_state>accepted</current_state>
          <description></description>
          <name>Test 3</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2016/03/23 22:46:03 UTC</created_at>
          <updated_at type="datetime">2016/03/23 22:46:03 UTC</updated_at>
          <accepted_at type="datetime">2016/03/02 12:00:00 UTC</accepted_at>
        </story>
  recorded_at: Wed, 23 Mar 2016 22:46:11 GMT
[...]
- request:
    method: delete
    uri: https://www.pivotaltracker.com/services/v3/projects/1059836/stories/116260881
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Trackertoken:
      - e955bd05b35741ce257eaeca935180c0
      Content-Type:
      - application/xml
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - '"784429eae2d9c210afe993a0fbd739cb"'
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <story>
          <id type="integer">116260881</id>
          <project_id type="integer">1059836</project_id>
          <story_type>feature</story_type>
          <url>https://www.pivotaltracker.com/story/show/116260881</url>
          <estimate type="integer">0</estimate>
          <current_state>unstarted</current_state>
          <description></description>
          <name>Test (unstarted)</name>
          <requested_by>Test User</requested_by>
          <created_at type="datetime">2016/03/23 22:46:06 UTC</created_at>
          <updated_at type="datetime">2016/03/23 22:46:06 UTC</updated_at>
        </story>
  recorded_at: Wed, 23 Mar 2016 22:46:18 GMT
recorded_with: VCR 3.0.1
