<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title><%= title %></title>

    <script type="text/javascript">
        var refreshTimeInSeconds = 2;

        function scheduleRefresh() {
          setTimeout("refresh();", refreshTimeInSeconds * 1000);
        }

        function refresh() {
          var pulseUrl = "/pulse";
          <% if @tags %>
          pulseUrl += '?tags=<%=@tags%>';
          <% end %>
          if (document.location)
            window.frames[0].location = pulseUrl;
          <% if REFRESH_PAGE %>
          scheduleRefresh();
          <% end %>
        }
    </script>
</head>

<%= yield %>

</html>